<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title :PTT-Smart EIA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body {
            font-family: "DBSathornMedium","Trebuchet MS", sans-serif;
            font-size: 24px;
        }

        .page-header {
            width: 100%;
            height: 125px;
            background-image:url(../../Image/12-01.jpg);
            background-size: cover;
           
        }

        .logo {
            padding: 15px;
            float: left;
            width: 50%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            line-height: 90px;
        }

        .menu {
            float: right;
            width: 50%;
            height: 70%;
            text-align: center;
            vertical-align: middle;
            line-height: 90px;
            display: flex;
        }
        
        #home {
            width: 20%;
            background-color: #302E84;
            color: white;
        }

        #contact, #login, #search {
            width: 25%;
            color: white;
        }
        #search {
            line-height: 90px;
            width: 25%;
        }
        .active-cyan input[type=text] {
            border-bottom: 1px solid #4dd0e1;
            box-shadow: 0 1px 0 0 #4dd0e1;
        }
        .active-cyan .fa, .active-cyan-2 .fa {
            color: #4dd0e1;
        }
        #homelabe {
            color: white;
        }
        #homelabe:hover {
                color: black;
        }
        #contactlabe {
            color: black;
        }
        #contactlabe:hover {
                color: white;
        }
        .panel-footer {
            background: linear-gradient(to right, rgba(38,32,101,1), rgba(64,190,239,1) );
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            font-family: Trebuchet MS;
            font-size: 16px;
            text-align: center;
            vertical-align: middle;
            line-height: 50px;
            color: #E4E4E4;
        }
    </style>
</head>
<body>

        <div class="page-header">
            <div class="logo">
                <img style="width:196px; height:81px; float:left;" src="~/Image/Logo.png" />
            </div>
            <div class="menu">

                <div id="home">
                    <a id="homelabe" href="/Home/Homepage"> <label> หน้าแรก</label> </a>
                </div>
                <div id="contact">
                    <a id="contactlabe" href="/Home/Contact"> <label> ติดต่อเรา</label> </a>
                </div>

                <div id="search">
                    <label>
                        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                               aria-label="Search">
                    </label>
                </div>
            </div>
        </div>
     
    <div>
        @RenderBody()
    </div>
    <div class="panel-footer">
        <label id="labelfoot">©2020 Smart EIA Regulatory Screening System V 1.0</label>
    </div>
</body>
</html>
