
@{
    ViewBag.Title = "CalculateArea";
}

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd33TLAVehao--qEJ9u7j7ZNSjN1315C0&callback=initMap"
                async defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        
        <style>
            body {
                font-family: DBSathornMedium;
                font-size: 18px;
                clear: both;
            }

            .page-header {
                font-size: 22px;
                width: 100%;
                height: 125px;
                background-image: url(../../Image/12-01.jpg);
                background-size: cover;
                line-height: 90px;
                vertical-align: middle;
            }

            .logo {
                padding: 15px;
                float: left;
                width: 50%;
                height: 100%;
                text-align: center;
                vertical-align: middle;
                line-height: 90px;
            }

            .menu {
                float: right;
                width: 50%;
                height: 70%;
                text-align: center;
                vertical-align: middle;
                line-height: 90px;
                display: flex;
            }

            #home {
                width: 20%;
                background-color: #302E84;
                color: white;
            }

            #contact, #login, #search {
                width: 25%;
                color: white;
            }

            #search {
                line-height: 90px;
                width: 25%;
            }

            .container {
                width: 100%;
                height: 560px;
                text-align: center;
                vertical-align: middle;
                line-height: 90px;
                display: flex;
            }

            .map {
                width: 100%;
                color: blue;
                margin: 5px;
            }

            .specify {
            
                padding: 10px;
                margin: 5px;
                width: 50%;
                height: 100%;
                line-height: 15px;
                border: solid 0.5px;
                text-align: left;
            }

            #map {
                width: 100%;
                height: 100%;
            }

            label, textarea {
                width: 100%;
            }

            textarea {
                padding: 10px;
            }

            select {
                width: 100%;
            }

            #hrr {
                display: block;
                margin-top: 0.5px;
                margin-bottom: 0.5px;
                margin-left: auto;
                margin-right: auto;
                border-style: inset;
                border-width: 0.9px;
                background-color: black;
            }

            .area1, .area2, #resulte,#costomtest,#kmztest,#areatest {
                display: none;
            }

            #selectpanel {
                width: 100%;
                text-align: center;
                vertical-align: middle;
                display: flex;
                padding-left: 15px;
                padding-right: 15px;
            }

            #test {
                  text-align: left;
                line-height: 30px;
                display: block;
              height: 100%;
              width:30%;
              position: relative;
              left:0;
              border:solid 1px;
              overflow-x: hidden;
              padding:5px;
              margin:5px;
             }

            #btnshowhide {
                height: 10%;
            }
            #aa,#ab,#ac,#ad{
                border:solid 1px;
              padding:5px;
            }
            #areatest,#costomtest,#kmztest{
                width:auto;
                background-color:azure;

            }
        </style>

    </head>

    <body>

        <div class="page-header">
            <div class="logo">
                <img style="width:196px; height:81px; float:left;" src="~/Image/Logo.png" />
            </div>
            <div class="menu">

                <div id="home">
                    <a id="homelabe" href="/Home/Homepage"> <label> หน้าแรก</label> </a>
                </div>
                <div id="contact">
                    <a id="contactlabe" href="/Home/Contact"> <label> ติดต่อเรา</label> </a>
                </div>

                <div id="search">
                    <label>
                        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                               aria-label="Search">
                    </label>
                </div>
            </div>
        </div>


        

        <div class="container">


            <!--Test -->
            <div id="test" class="container sidebar sidebar-left">
                <h4>ระบุที่ตั้งโครงการ</h4>
                <div class="user">
                    <div id="aa">พิกัดที่ตั้ง </div>
                    <div id="areatest">
                        <label>ระบุพิกัด UTM WGS 84</label>
                        <label>
                            Zone:
                            <select>
                                <option>47</option>
                                <option>48</option>
                            </select>
                        </label>
                        <hr />
                        <label>
                            East:
                            <input type="text" />
                        </label>
                        <label>
                            North:
                            <input type="text" />
                        </label>
                        <button>ตกลง</button>
                    </div>
                    <div id="ab">กำหนดเอง</div>
                    <div id="costomtest">
                        <button>add placemark</button>
                        <button>draw line or shape</button>
                        <div style="width:100px; height:50px; border:solid 1px;"></div>
                    </div>
                    <div id="ac">
                        ตำแหน่งจากข้อมูล KMZ ไฟล์
                        </div>
                    <div id="kmztest">
                        <button>import file</button>
                        <button>clear</button>
                        <div style="width:100px; height:50px; border:solid 1px;"></div>
                    </div>

                    <div id="ad">ไม่ระบุที่ตั้งโครงการ</div>
                </div>
                <div class="navbar-toggle">

                </div>
           </div>
            <!--/Test -->

            <div class="map">
                <div id="map"></div>
            </div>
            <div class="specify">
                <div id="SpecifyType">
                    <div id="s1">
                        <h4>ระบุรายละเอียดโครงการ</h4>
                        <div id="type">
                            <label>ประเภทปิโตรเลียม</label>
                            <select id="types">
                                <option value="none" selected>--เลือกประเภทปิโตรเลียม--</option>
                                <option value="ng">ก๊าซธรรมชาติ (NG)</option>
                                <option value="ngl">ก๊าซธรรมชาติเหลว (NGL)</option>
                                <option value="lpg">ก๊าซปิโตรเลียมเหลว (LPG)</option>
                                <option value="oil">น้ำมันเชื้อเพลิง (FO)</option>
                                <option value="hydrocarbon">ปิโตรเลียมอื่นๆ</option>
                            </select>
                        </div>
                        <div class="ng GasSystem">
                            <label>ระบบท่อส่งก๊าซฯ</label>
                            <select id="pipeSystem">
                                <option value="none" selected>--เลือกพื้นที่วางท่อ-</option>
                                <option value="ground">บนบก</option>
                                <option value="water">ในทะเล</option>
                            </select>
                        </div>
                        <div class="ground status">
                            <label>สถานะ</label>
                            <select id="statuss">
                                <option value="none" selected>--เลือกสถานะ--</option>
                                <option value="gas">ไอก๊าซ</option>
                                <option value="liquid">ของเหลว</option>
                            </select>

                        </div>

                        <div class="gas pressure">
                            <hr />
                            <label>
                                ความดันใช้งานสูงสุด(Maximum Opereting Pressure:MOP)
                                <select id="pressuress">
                                    <option value="none" selected>--เลือกความดัน--</option>
                                    <option value="1"><= 20 บาร์</option>
                                    <option value="2">> 20 บาร์</option>
                                </select>
                            </label>
                            <label>
                                ขนาดท่อ
                                <select id="size">
                                    <option value="" selected>--เลือกขนาดท่อ--</option>
                                    <option value="1"><= 16 นิ้ว</option>
                                    <option value="2">> 16 นิ้ว</option>
                                </select>
                            </label>

                        </div>
                        <div id="btn">
                            <br />
                            <button id="Btntypeok" onclick="getresulte()"> ตกลง </button>
                        </div>
                    </div>
                    <div id="s2">
                        <div id="area1" class="area1">
                            <hr />
                            <label>
                                พื้นที่
                                (จากการตรวจสอบด้วยฐานข้อมูล GIS)
                            </label>
                            <select id="selectarea1">
                                <option value="none" selected>--เลือกเขตพื้นที่--</option>
                                <option value="in">แนวท่อทั้งหมดอยู่ในเขตนิคนอุตสาหกรรม</option>
                                <option value="out">แนวท่อทั้งหมดอยู่นอกเขตนิคนอุตสาหกรรม</option>
                            </select>
                            <button id="BtnProcess" onclick="getresulte()"> ตกลง </button>
                        </div>

                        <div id="area2" class="area2">
                            <hr />
                            <label>
                                พื้นที่
                            </label>
                            <select id="selectarea2">
                                <option value="none" selected>--เลือกเขตพื้นที่ลุ่มน้ำ--</option>
                                <option value="y">ตั้งอยู่ในพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1</option>
                                <option value="n">ไม่ตั้งอยู่ในพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1</option>
                            </select>
                            <button id="BtnProcess" onclick="getresulte()"> ตกลง </button>
                        </div>
                    </div>
                   


                </div>

                <div id="resulte">
                    <button onclick="back()"> ^ ย่้อนกลับ </button><br />
                    <label style="width:100%; text-align:center;"><u>สรุปผล</u></label>
                    <hr />
                    <label>ประเภทรายงาน : </label>
                    <textarea id="typeresulte" rows="2">--</textarea>
                    <hr />
                    <label>กฎหมายที่เกี่ยวข้อง : </label>
                    <textarea rows="2">- ที่มา link ข้อมูล</textarea>
                    <hr />
                    <label>หน่วยงานผู้พิจารณารายงาน ฯ : </label>
                    <label>
                        <img style="width:20%; height:50px; float:left;" src="~/Image/picture.png" />
                        <textarea rows="2" style="width:80%;">-สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม(สผ.)</textarea>
                    </label>
                </div>
            </div>



        </div>

        <script>
            var map;
            var mapcode;
            var latlng = { lat: 13.7651624, lng: 100.893642 }
            var infowindow;
            var markerarray = [];
            var polyline = null;
            function initMap() {
                map = new google.maps.Map(
                    document.getElementById('map'), {
                    center: latlng,
                    zoom: 6,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
            }


            function showdiv() {
                $(".slidediv").show();
            }
            
            function hidediv() {
                $(".slidediv").hide();
            }

        $(document).ready(function(){
            $("#types").change(function(){
                $(this).find("option:selected").each(function(){
                    var optionValue = $(this).attr("value");
                    if(optionValue){
                        $(".GasSystem").not("." + optionValue).hide();
                        $("." + optionValue).show();
                        $(".pressure").not("." + optionValue).hide();
                        $(".area").not("." + optionValue).hide();
                        $(".status").hide();
                        $("#area1").hide();
                        $("#area2").hide();

                     
                    } else{
                        $(".GasSystem").hide();                        
                    }
                });
            }).change();
        });
             $(document).ready(function(){
                $(".GasSystem").change(function(){
                    $(this).find("option:selected").each(function(){
                        var optionValue = $(this).attr("value");
                        if(optionValue){
                            $(".status").not("." + optionValue).hide();
                            $("." + optionValue).show();
                            $(".pressure").not("." + optionValue).hide();
                            $(".area").not("." + optionValue).hide();
                        } else{
                            $(".status").hide();
                        }
                    });
                }).change();
             });
             $(document).ready(function(){
                $(".status").change(function(){
                    $(this).find("option:selected").each(function(){
                        var optionValue = $(this).attr("value");
                        if(optionValue){
                            $(".pressure").not("." + optionValue).hide();
                            $("." + optionValue).show();

                        } else{
                            $(".pressure").hide();
                        }
                    });
                }).change();
            });

          
            function back() {
                 var x = document.getElementById("SpecifyType");
                 var y = document.getElementById("resulte");
                 if (x.style.display == "block") {
                    y.style.display = "none";
                    x.style.display = "none";
                  } else {
                     x.style.display = "block";
                     y.style.display = "none";  
                  }
            }

            function getresulte() {

                var type = $('#types').find(":selected").val();

                var pipelocation = $('#pipeSystem').find(":selected").val();

                var status = $('#statuss').find(":selected").val();

                var pressure = $('#pressuress').find(":selected").val();

                var pipesize = $('#size').find(":selected").val();

                var area2 = $('#selectarea2').find(":selected").val();

                var area1 = $('#selectarea1').find(":selected").val();

                var x = document.getElementById("resulte");

                var y = document.getElementById("SpecifyType");

                var z1 = document.getElementById("area1");

                var z2 = document.getElementById("area2");
               

                if (type == "ng" && pipelocation == "water" || type == "ng" && status == "liquid") {
                    x.style.display = "block";
                    y.style.display = "none";
                    document.getElementById('typeresulte').innerHTML = "EIA";
                }
                else {
                    if (pressure == 1 && pipesize == 1) {
                        z2.style.display = "block";
                        z1.style.display = "none";
                        if (area2 == 'y') {
                            x.style.display = "block";
                            y.style.display = "none";
                            document.getElementById('typeresulte').innerHTML = "ER";
                        }
                        else {
                            x.style.display = "block";
                            y.style.display = "none";
                            document.getElementById('typeresulte').innerHTML = "EIA";
                        }

                    }

                    else {
                        z2.style.display = "block";
                        z1.style.display = "block";
                        if (area1 == 'in' && area2=="y") {
                            x.style.display = "block";
                            y.style.display = "none";
                            document.getElementById('typeresulte').innerHTML = "EIA";
                        }
                        else if (area1 == 'in' && area2=="n") {
                            x.style.display = "block";
                            y.style.display = "none";
                            document.getElementById('typeresulte').innerHTML = "ER";
                        }
                        else {
                            x.style.display = "block";
                            y.style.display = "none";
                            document.getElementById('typeresulte').innerHTML = "EIA";
                        }
                    }
                }
                
            }

           

            $(document).ready(function () {
                  $("#aa").click(function () {
                      $('#areatest').slideDown(100);
                      $('#costomtest').slideUp(100);
                       $('#kmztest').slideUp(100);
                  });

                 $("#ab").click(function () {
                     $('#costomtest').slideDown(100);
                     $('#areatest').slideUp(100);
                     $('#kmztest').slideUp(100);
                 });

                 $("#ac").click(function () {
                     $('#kmztest').slideDown(100);

                      $('#costomtest').slideUp(100);
                     $('#areatest').slideUp(100);
                 });

                 $("#ad").click(function () {
                     $('#kmztest').slideUp(100);

                      $('#costomtest').slideUp(100);
                     $('#areatest').slideUp(100);
                 });

              
            });


        </script>
    </body>
