@{
    ViewBag.Title = "Contact";
}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <style>
            body {
                font-family: "DBSathornMedium", Times, serif;
                font-size: 22px;
                background-image:url(../../Image/BG5.jpg);
                 background-size: cover;
            }

            .page-header {
                width: 100%;
                height: 100px;
            }

                    .body-content {
                width: 100%;
                height: 600px;
            }

            .panel-footer {
                background: linear-gradient(to right, rgba(38,33,102,1), rgba(225,0,0,0) );
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: red;
                color: white;
                font-family: Trebuchet MS;
                font-size: 16px;
                text-align: center;
                vertical-align: middle;
                line-height: 50px;
                color: #E4E4E4;
            }

            .logo {
                float: left;
                width: 50%;
                height: 100%;
                text-align: center;
                vertical-align: middle;
                line-height: 90px;
            }

            .menu {
                float: right;
                width: 50%;
                height: 100%;
                text-align: center;
                vertical-align: middle;
                line-height: 90px;
                display: flex;
            }

            #home {
                width: 20%;
                background-color: #302E84;
                color: white;
            }

            #contact, #login, #search {
                width: 20%;
            }

            #search {
                line-height: 90px;
                width: 25%;
            }

            .active-cyan input[type=text] {
                border-bottom: 1px solid #4dd0e1;
                box-shadow: 0 1px 0 0 #4dd0e1;
            }

            .active-cyan .fa, .active-cyan-2 .fa {
                color: #4dd0e1;
            }

            .left-panel
            {        
                background-color:#ccc;
                width:25%;
                height:100px;
                float:left;            
            }
        .center-panel{
        background-color:#fff;
        width:50%;
        height:100px;
        float:left; 
}
    .right-panel
    {        
        background-color:Gray;
        width:25%;
        height:100px;
        float:right;
    }

        </style>
    </head>
    <body>
        <div class="page-header">
            <div class="logo">
                <img style="width:245px; height:100px; float:left;" src="~/Image/Logo.png" />
            </div>
            <div class="menu">
                <div id="home">
                    <a href="/Home/Homepage"> <label>หน้าแรก</label></a>
                </div>
                <div id="contact">
                    <a href="/Home/Contact">   <label>ติดต่อเรา</label></a>
                </div>

                <div id="search">
                    <label>
                        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                               aria-label="Search">
                    </label>
                </div>
            </div>

        </div>

        <div class="left-panel">
            First panel
        </div>
        <div class="center-panel">
            Second panel
        </div>
        <div class="right-panel">
            third panel
        </div>


    </body>

