
@{
    ViewBag.Title = "Homepage";
}

<head>
    <style>
        body {
            font-family: "DBSathornMedium","Trebuchet MS", sans-serif;
            font-size: 22px;
            background-image: url(../../Image/bG.jpg);
            background-size: cover;
            width:100%;
            height:30em;
        }
      
        .page-header {
            width: 100%;
            height: 100px;
            background-color:gray;
     
        }

        .body-content {
            width: 100%;
            height: 100%;
        }

        .logo {
          padding:5px;
            float: left;
            width: 50%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            line-height: 90px;
        }
        .menu {
            float: right;
            width: 50%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            line-height: 90px;
            display: flex;
            
            color: white;
        }

        #home {
            width: 20%;
            color: white;
        }

        #contact, #login, #search {
            width: 25%;
            color: white;
        }
        
        #search {
            line-height: 90px;
            width: 25%;
        }

        .active-cyan input[type=text] {
            border-bottom: 1px solid #4dd0e1;
            box-shadow: 0 1px 0 0 #4dd0e1;
        }

        .active-cyan .fa, .active-cyan-2 .fa {
            color: #4dd0e1;
        }

        .mainmenu{
            width: 100%;
            height:50%;
            vertical-align: middle;
            display: flex;
            margin: 30px 0 12px 0;
            margin-top:13%;
            font-size:18px;
        }
        .gis{
             height:50%;
            padding:5px;
            margin:20px;  
          color:white;
          width:35%;
          border-radius:5px;
          background: rgba(189,215,113,.9);
        }
            .gis:hover {
            background: rgba(189,215,113,1);
            }
           
        .regula{
             height:50%;
             padding:5px;
            margin:20px;  
          color:white;
          width:35%;
          border-radius:5px;
          background: rgba(60,160,181,.9);

        } .regula:hover{
           background: rgba(60,160,181,1);
            }
        
        .screening{
            padding:5px;
            margin:20px;  
            color:white;
            height:50%;
            width:35%;
            border-radius:5px;
            background: rgba(51,65,106,.9);
         
        }.screening:hover{
            background: rgba(51,65,106,1);
            }
        #hrr{
          display: block;
          margin-top: 0.5px;
          margin-bottom: 0.5px;
          margin-left: auto;
          margin-right: auto;
          border-style: inset;
          border-width: 0.9px;
        }
        #nameproject{
            color:#3D4D83;
          margin-top: 1.5em;
            width:100%;
            height:50px;
           text-align:center;
           font-size:3em;
        }
        #homelabe{
            color: white;
            
        }#homelabe:hover{
            color: black;
            
        }

        #contactlabe{
            color:black;
        }#contactlabe:hover{
            color:white;
        }


        </style>
        </head >
<body>
    <div class="page-header">
        <div class="logo">
            <img style="width:245px; height:100px; float:left;" src="~/Image/Logo.png" />
        </div>
        <div class="menu">

            <div id="home">
                <a id="homelabe" href="/Home/Homepage"> <label> หน้าแรก</label> </a>
            </div>
            <div id="contact">
                <a id="contactlabe" href="/Home/Contact"> <label> ติดต่อเรา</label> </a>
            </div>

            <div id="search">
                <label>
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                           aria-label="Search">
                </label>

            </div>

        </div>
    </div>
    <div id="nameproject">
        <label> Smart EIA Regulatory Screening System </label>
    </div>

    <div class="mainmenu">
        <div class="screening" onclick="window.location.href = '/Home/Screening';">
            Environmental Report Screening <hr id="hrr" />
            <p>ระบบ Smart EIA Regulatory Screening 
            เพื่อกลั่นกรองรายงานด้านสิ่งแวดล้อมที่ต้องจัดทำตามกฎหมาย
            ประกอบการขออนุญาติและวางแผนพัฒนาโครงการด้านพลังงานและโครงสร้างพื้นฐาน
            อาทิ รายงานการประเมินผลกระทบสิ่งแวดล้อม (IEE/EIA/EHIA)
            รายงานประมวลหลักการปฏิบัติ (CoP) เป็นต้น</p>
            
        </div>
        <div class="regula" onclick="window.location.href = '/Home/Regulatory';">
            Environmental Regulatory <hr id="hrr" />
            <p>ระบบตรวจสอบ กฎหมายและข้อกำหนดเชิงพื้นที่
            ที่เกี่ยวข้องกับการจัดการและอนุรักษ์สิ่งแวดล้อมของประเทศ 
            อาทิ พื้นที่เขตคุ้มครองสิ่งแวดล้อมพื้นที่อุทยานและป่าสงวนแห่งชาติ 
            พื้รที่เขตควบคุมมลพิษ เป็นต้น เพื่อประโยชน์สำหรับวางแผนพัฒนาโครงการอย่างยั่งยืน</p>
        </div>
        <div class="gis" onclick="window.location.href = '/Home/Gis';">
            Environmental SMARTi Map <hr id="hrr" />
            <p>ระบบสืบค้น ข้อมูลสารสนเทศภูมิศาสตร์ (Geographic Information System: GIS)
             ที่ประกอบด้วย ข้อมูลด้านสิ่งแวดล้อมและข้อมูลโครงสร้างพื้นฐานของประเทศ
            เพื่อนำไปใช้วางแผนและพิจารณาความเหมาะสมของพื้นที่ตั้งโครงการ 
            โดยคำนึงถึงผลกระทบสิ่งแวดล้อม</p>
        </div>
    </div>
    
</body>
