
@{
    ViewBag.Title = "Landallocation";
    Layout = "~/Views/Shared/_LayoutContentLawEIA.cshtml";
}
    <head>
        
        <style>
            .map {
                background-color: #fff;
                width: 100%;
                padding: 5px;
                height: 700px;
                float: left;
            }

            #map {
                width: 100%;
                height: 100%;
            }

            #numberofsuplots, #areasize, #protectarea1, #protectarea2, #protectarea3, #protectarea4, #protectarea5, #riverarea, #Resulte {
                display: none;
            }
        </style>
    </head>
<body onload="initMap()">
    <div class="xxx" style="padding: 5px 0px 5px 5px; display: flex; flex-wrap:wrap;">
        <div class="header-banner">
            <img src="@Url.Content("~/Content/template/")img/link-16.svg" alt="" width="90px" height="90px">
            <div class="btx">
                <p>
                    16. การจัดสรรที่ดิน
                </p>

            </div>
        </div>
    </div>
    <div class="contain-index" style="padding: 15px 0px; background-color: #e7eef1; overflow-x: hidden;">
        <div class="row" style=" margin-right: 0px;margin-left: 0px;">
            <div class="col-lg-12 nopadding">
                <span class="ss-btn" onclick="ss_l_menu()"><i class="fas fa-chevron-right"></i></span>
                <div class="l-menu bg-gg nopadding">
                    <div class="data-col">
                        <p class="ddda">
                            1.ระบุที่ตั้งโครงการ
                        </p>
                        <div class="pp-list">
                            <div class="list-p" onclick="sliderr(1)">
                                <p class="hh">
                                    พิกัดที่ตั้ง
                                </p>
                            </div>
                            <div class="dt-slide" id="ss-1">
                                <div class="sl-input" id="sd-1">
                                    <button>Add placemark</button>
                                    <button>Draw line or shape</button>
                                    <textarea class="txa-50" rows="5" cols="50">
                                    
                                        </textarea>
                                </div>
                            </div>
                            <div class="list-p" onclick="sliderr(2)">
                                <p class="hh">
                                    กำหนดเอง
                                </p>
                            </div>
                            <div class="dt-slide" id="ss-2">
                                <div class="sl-input" id="sd-2">
                                    <button>Add placemark</button>
                                    <button>Draw line or shape</button>
                                    <textarea class="txa-50" rows="5" cols="50">
                                        
                                        </textarea>
                                </div>
                            </div>
                            <div class="list-p" onclick="sliderr(3)">
                                <p class="hh">
                                    ตำแหน่งจากข้อมูล kmz ไฟล์
                                </p>
                            </div>
                            <div class="dt-slide" id="ss-3">
                                <div class="sl-input" id="sd-3">
                                    <button>Add placemark</button>
                                    <button>Draw line or shape</button>
                                    <textarea class="txa-50" rows="5" cols="50">
                                        
                                        </textarea>
                                </div>
                            </div>
                            <div class="list-p" onclick="sliderr(4)">
                                <p class="hh">
                                    ไม่ระบุที่ตั้งโครงการ
                                </p>
                            </div>
                            <div class="dt-slide" id="ss-4">
                                <div class="sl-input" id="sd-4">
                                    <button>Add placemark</button>
                                    <button>Draw line or shape</button>
                                    <textarea class="txa-50" rows="5" cols="50">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="map">
                    <div id="map"></div>
                </div>

                <span class="ss-r-btn" onclick="ss_r_menu()" style="background-color: #e7eef1; color: #000;"><i class="fas fa-chevron-left"></i></span>
                <div class="r-menu nopadding ">
                    <div class="data-col">
                        <div class="specify">
                            <p class="ddda" style="margin-top: 10px;">
                                2.ระบุรายละเอียดโครงการ
                            </p>
                            <div id="type">
                                <p>
                                    ประเภท
                                </p>
                                <select name="" id="selecttype" class="form-control">
                                    <option value="hire">เช่า</option>
                                    <option value="distribute">จำหน่าย</option>
                                </select>
                                <div>
                                    <button id="btntype">ตกลง</button>
                                </div>
                                <hr />
                            </div>
                            <div id="numberofsuplots">
                                <p>
                                    จำนวนแปลงย่อย (แปลง)
                                </p>
                                <select name="" id="selectnumberofsuplots" class="form-control">
                                    <option value="less30">น้อยกว่า 30 แปลง</option>
                                    <option value="30to100">มากกว่าหรือเท่ากับ 30 แปลง ถึง น้อยกว่า 100 แปลง</option>
                                    <option value="100to250">มากกว่าหรือเท่ากับ 100 แปลง ถึง น้อยกว่า 250 แปลง</option>
                                    <option value="250to500">มากกว่าหรือเท่ากับ 250 แปลง ถึง น้อยกว่า 500 แปลง</option>
                                    <option value="more500">มากกว่าหรือเท่ากับ 500</option>
                                </select>
                                <div>
                                    <button id="btnnumberofsuplots">ตกลง</button>
                                </div>
                                <hr />
                            </div>
                            <div id="areasize">
                                <p>
                                    ขนาดพื้นที่ (ไร่)
                                </p>
                                <select name="" id="selectareasize" class="form-control">
                                    <option value="less18"> น้อยกว่า 1.8 ไร่</option>
                                    <option value="18to19"> มากกว่าหรือเท่ากับ 1.8 ไร่ ถึง น้อยกว่า 19 ไร่</option>
                                    <option value="19to100"> มากกว่าหรือเท่ากับ 19 ไร่ ถึง น้อยกว่า 100 ไร่</option>
                                    <option value="more100">มากกว่า 100 ไร่</option>
                                </select>
                                <div>
                                    <button id="btnareasize">ตกลง</button>
                                </div>
                                <hr />
                            </div>
                            <div id="protectarea1">
                                <p>
                                    พื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ชลบุรี
                                </p>
                                <select name="" id="selectprotectarea1" class="form-control">
                                    <option value="1">
                                        อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ชลบุรี
                                    </option>
                                    <option value="2">
                                        ไม่อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ชลบุรี
                                    </option>
                                </select>
                                <div>
                                    <button id="btnprotectarea1">ตกลง</button>
                                </div>
                                <hr />
                            </div>
                            <div id="protectarea2">
                                <p>
                                    พื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ชลบุรี ภูเก็ต
                                </p>
                                <select name="" id="selectprotectarea2" class="form-control">
                                    <option value="1">
                                        อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ชลบุรี ภูเก็ต
                                    </option>
                                    <option value="2">
                                        ไม่อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ชลบุรี ภูเก็ต
                                    </option>
                                </select>
                                <div>
                                    <button id="btnprotectarea2">ตกลง</button>
                                </div>
                                <hr />
                            </div>
                            <div id="protectarea3">
                                <p>
                                    พื้นที่คุ้มครองสิ่งแวดล้อม 7 จังหวัด
                                </p>
                                <select name="" id="selectprotectarea3" class="form-control">
                                    <option value="1">
                                        อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม 7 จังหวัด
                                    </option>
                                    <option value="2">
                                        ไม่อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม 7 จังหวัด
                                    </option>
                                </select>
                                <div>
                                    <button id="btnprotectarea3">ตกลง</button>
                                </div>
                                <hr />
                            </div>
                            <div id="protectarea4">
                                <p>
                                    พื้นที่คุ้มครองสิ่งแวดล้อม
                                    สุราษฎร์ธานี ภูเก็ต พังงา กระบี่ เพชรบุรี ประจวบคีรีขันธ์
                                </p>
                                <select name="" id="selectprotectarea4" class="form-control">
                                    <option value="1">
                                        อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ภูเก็ต พังงา กระบี่ เพชรบุรี ประจวบคีรีขันธ์
                                    </option>
                                    <option value="2">
                                        ไม่อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ภูเก็ต พังงา กระบี่ เพชรบุรี ประจวบคีรีขันธ์
                                    </option>
                                </select>
                                <div>
                                    <button id="btnprotectarea4">ตกลง</button>
                                </div>
                                <hr />
                            </div>
                            <div id="protectarea5">
                                <p>
                                   พื้นที่คุ้มครองสิ่งแวดล้อม ชลบุรี
                                    
                                </p>
                                <select name="" id="selectprotectarea5" class="form-control">
                                    <option value="1">
                                        อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม ชลบุรี
                                    </option>
                                    <option value="2">
                                        ไม่อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม ชลบุรี
                                    </option>
                                </select>
                                <div>
                                    <button id="btnprotectarea5">ตกลง</button>
                                </div>
                                <hr />
                            </div>
                            <div id="riverarea">
                                <p>
                                    พื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1
                                </p>
                                <select name="" id="selectriverarea" class="form-control">
                                    <option value="1">
                                        อยู่ในพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1
                                    </option>
                                    <option value="2">
                                        ไม่อยู่ในพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1
                                    </option>
                                </select>
                                <div>
                                    <button id="btnriverarea">ตกลง</button>
                                </div>
                                <hr />
                            </div>
                        </div>
                        <div id="Resulte">
                            <button onclick="hideresulte()">&uarr; back</button>
                            <p id="label1">โครงการ กิจการ หรือการดำเนิดการ <u style="color:red;">เข้าข่าย</u> ต้องจัดทำรายงานด้านสิ่งแวดล้อม</p>
                            <hr />
                            <p id="label2">ประเภท</p>
                            <p id="labeltype">
                                EHIA
                            </p>
                            <hr />
                            <p id="label3">เสนอต่อ</p>
                            <p id="labeloffer">สผ.</p>
                            <hr />
                            <p id="label4">ตามกฎหมาย</p>
                            <p id="labellaw">เรื่อง...</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-banner">
        <div class="ffff">

        </div>
    </div>
</body>
<script>
     /*map*/
          var map;
        function initMap() {
            var latlng = new google.maps.LatLng(13.7651624, 100.893642);
            var myOptions = {
                zoom: 8,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map"), myOptions);
        }
         /*slide*/
        function sliderr(n) {
            var dis = $('#ss-' + n).css('display');
            console.log(dis);
            if (dis == 'none') {
                $("#ss-" + n).css("display", "block");
                $("#sd-" + n).css("height", "auto");

            } else {
                $("#ss-" + n).css("display", "none");
                $("#sd-" + n).css("height", "0px");
            }
        }
        function ss_l_menu() {
            if ($(".ss-btn").hasClass("ww-100")) {
                $(".ss-btn").removeClass("ww-100");
                $(".l-menu").animate({ "left": "-400px" }, 300, "swing");
                $(".ss-btn").animate({ "left": "0px" }, 300, "swing");
                $(".ss-btn").html('<i class="fas fa-chevron-right"></i>')
            } else {
                $(".ss-btn").addClass("ww-100");
                $(".l-menu").animate({ "left": "0px" }, 300, "swing");
                $(".ss-btn").animate({ "left": "360px" }, 300, "swing");
                $(".ss-btn").html('<i class="fas fa-chevron-left"></i>')
            }

        }
        function ss_r_menu() {
            if ($(".ss-r-btn").hasClass("ww-100")) {
                $(".ss-r-btn").removeClass("ww-100");
                $(".r-menu").animate({ "right": "-400px" }, 300, "swing");
                $(".ss-r-btn").animate({ "right": "0px" }, 300, "swing");
                $(".ss-r-btn").html('<i class="fas fa-chevron-left"></i>')
            } else {
                $(".ss-r-btn").addClass("ww-100");
                $(".r-menu").animate({ "right": "0px" }, 300, "swing");
                $(".ss-r-btn").animate({ "right": "360px" }, 300, "swing");
                $(".ss-r-btn").html('<i class="fas fa-chevron-right"></i>')
            }

        }
        function hideresulte() {
            $("#Resulte").hide();
            $(".specify").show();
    }


    $(document).ready(function () {
        $("#btntype").click(function () {
            var type = $("#selecttype").find(":selected").val();
            if (type == "hire") {
                $(".specify").hide();
                /*-------------------------------------*/
                    $("#Resulte").show();
                    document.getElementById('label1').innerHTML = "โครงการ กิจการ หรือการดำเนินการ ไม่เข้าข่าย ที่ต้องจัดทำรายงานด้านสิ่งแวดล้อมตามกฎหมาย";
                    $("#label2").hide();
                    $("#labeltype").hide();
                    $("#label3").hide();
                    $("#labeloffer").hide();
                    $("#label4").hide();
                    $("#labellaw").hide();
                /*-------------------------------------*/
            }
            else {
                $("#numberofsuplots").show();
                $("#btnnumberofsuplots").click(function () {
                    var numberofsuplots = $("#selectnumberofsuplots").find(":selected").val();
                    if (numberofsuplots == "less30") {
                        $("#areasize").show();/* ลุ่มน้ำชั้น 1*/
                        $("#btnareasize").click(function () {
                            var areasize = $("#selectareasize").find(":selected").val();
                            if (areasize == "less18") {
                                 $("#riverarea").hide();
                                $("#protectarea1").show();
                                $("#protectarea2").hide();
                                $("#protectarea3").hide();
                                  $("#protectarea4").hide();
                                $("#btnprotectarea1").click(function () {
                                    var protectarea1 = $("#selectprotectarea1").find(":selected").val();
                                    if (protectarea1 == "1") {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*IEE*/
                                                 $(".specify").hide();
                                                $("#Resulte").show();
                                                 document.getElementById('label1').innerText = "โครงการ/กิจการ เข้าข่ายต้องจัดทำรายงานด้านสิ่งแวดล้อม";
                                                document.getElementById('labeltype').innerHTML = "รายงานผลกระทบสิ่งแวดล้อมเบื้องต้น (Initial Environmental Examination; IEE)";
                                                document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                                document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำEIA (ลำดับที่ 27) http:// www.xxxx.co.th /DATA/PDF/2562/E/003?T_0001.PDF ";
                                            }
                                        });
                                    }
                                    else {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*ไม่จัดทำ*/
                                                $(".specify").hide();
                                            /*-------------------------------------*/
                                                $("#Resulte").show();
                                                document.getElementById('label1').innerHTML = "โครงการ กิจการ หรือการดำเนินการ ไม่เข้าข่าย ที่ต้องจัดทำรายงานด้านสิ่งแวดล้อมตามกฎหมาย";
                                                $("#label2").hide();
                                                $("#labeltype").hide();
                                                $("#label3").hide();
                                                $("#labeloffer").hide();
                                                $("#label4").hide();
                                                $("#labellaw").hide();
                                            /*-------------------------------------*/

                                            }
                                        });
                                    }
                                });
                            }
                            else if (areasize == "18to19") {
                                $("#protectarea2").show();
                                $("#protectarea1").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                $("#riverarea").hide();
                                $("#btnprotectarea2").click(function () {
                                    var protectarea2 = $("#selectprotectarea2").find(":selected").val();
                                    if (protectarea2 == "1") {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*IEE*/
                                                 $(".specify").hide();
                                                $("#Resulte").show();
                                                 document.getElementById('label1').innerText = "โครงการ/กิจการ เข้าข่ายต้องจัดทำรายงานด้านสิ่งแวดล้อม";
                                                document.getElementById('labeltype').innerHTML = "รายงานผลกระทบสิ่งแวดล้อมเบื้องต้น (Initial Environmental Examination; IEE)";
                                                document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                                document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำEIA (ลำดับที่ 27) http:// www.xxxx.co.th /DATA/PDF/2562/E/003?T_0001.PDF ";

                                            }
                                        });
                                    }
                                    else {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*ไม่จัดทำ*/
                                                $(".specify").hide();
                                            /*-------------------------------------*/
                                                $("#Resulte").show();
                                                document.getElementById('label1').innerHTML = "โครงการ กิจการ หรือการดำเนินการ ไม่เข้าข่าย ที่ต้องจัดทำรายงานด้านสิ่งแวดล้อมตามกฎหมาย";
                                                $("#label2").hide();
                                                $("#labeltype").hide();
                                                $("#label3").hide();
                                                $("#labeloffer").hide();
                                                $("#label4").hide();
                                                $("#labellaw").hide();
                                            /*-------------------------------------*/

                                            }
                                        });
                                    }
                                });

                            }
                            else if (areasize == "19to100") {
                                $("#protectarea3").show();
                                 $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea4").hide();
                                 $("#riverarea").hide();
                                $("#btnprotectarea3").click(function () {
                                    var protectarea3 = $("#selectprotectarea3").find(":selected").val();
                                    if (protectarea3 == "1") {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*IEE*/
                                                 $(".specify").hide();
                                                $("#Resulte").show();
                                                 document.getElementById('label1').innerText = "โครงการ/กิจการ เข้าข่ายต้องจัดทำรายงานด้านสิ่งแวดล้อม";
                                                document.getElementById('labeltype').innerHTML = "รายงานผลกระทบสิ่งแวดล้อมเบื้องต้น (Initial Environmental Examination; IEE)";
                                                document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                                document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำEIA (ลำดับที่ 27) http:// www.xxxx.co.th /DATA/PDF/2562/E/003?T_0001.PDF ";

                                            }
                                        });
                                    }
                                    else {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*ไม่จัดทำ*/
                                                $(".specify").hide();
                                            /*-------------------------------------*/
                                                $("#Resulte").show();
                                                document.getElementById('label1').innerHTML = "โครงการ กิจการ หรือการดำเนินการ ไม่เข้าข่าย ที่ต้องจัดทำรายงานด้านสิ่งแวดล้อมตามกฎหมาย";
                                                $("#label2").hide();
                                                $("#labeltype").hide();
                                                $("#label3").hide();
                                                $("#labeloffer").hide();
                                                $("#label4").hide();
                                                $("#labellaw").hide();
                                            /*-------------------------------------*/
                                            }
                                        });
                                    }
                                });
                            }
                            else if (areasize == "more100") {
                                $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                 $("#riverarea").hide();
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";
                            }
                        });

                    }
                    else if (numberofsuplots == "30to100") {
                         $("#areasize").show();/* ลุ่มน้ำชั้น 1*/
                        $("#btnareasize").click(function () {
                            var areasize = $("#selectareasize").find(":selected").val();
                             if (areasize == "less18" || areasize == "18to19") {
                                $("#protectarea2").show();
                                $("#protectarea1").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                $("#riverarea").hide();
                                $("#btnprotectarea2").click(function () {
                                    var protectarea2 = $("#selectprotectarea2").find(":selected").val();
                                    if (protectarea2 == "1") {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*IEE*/
                                                 $(".specify").hide();
                                                $("#Resulte").show();
                                                 document.getElementById('label1').innerText = "โครงการ/กิจการ เข้าข่ายต้องจัดทำรายงานด้านสิ่งแวดล้อม";
                                                document.getElementById('labeltype').innerHTML = "รายงานผลกระทบสิ่งแวดล้อมเบื้องต้น (Initial Environmental Examination; IEE)";
                                                document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                                document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำEIA (ลำดับที่ 27) http:// www.xxxx.co.th /DATA/PDF/2562/E/003?T_0001.PDF ";

                                            }
                                        });
                                    }
                                    else {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*ไม่จัดทำ*/
                                                $(".specify").hide();
                                            /*-------------------------------------*/
                                                $("#Resulte").show();
                                                document.getElementById('label1').innerHTML = "โครงการ กิจการ หรือการดำเนินการ ไม่เข้าข่าย ที่ต้องจัดทำรายงานด้านสิ่งแวดล้อมตามกฎหมาย";
                                                $("#label2").hide();
                                                $("#labeltype").hide();
                                                $("#label3").hide();
                                                $("#labeloffer").hide();
                                                $("#label4").hide();
                                                $("#labellaw").hide();
                                            /*-------------------------------------*/

                                            }
                                        });
                                    }
                                });

                            }
                            else if (areasize == "19to100") {
                                $("#protectarea3").show();
                                $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea4").hide();
                                $("#riverarea").hide();
                                $("#btnprotectarea3").click(function () {
                                    var protectarea3 = $("#selectprotectarea3").find(":selected").val();
                                    if (protectarea3 == "1") {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*IEE*/
                                                 $(".specify").hide();
                                                $("#Resulte").show();
                                                 document.getElementById('label1').innerText = "โครงการ/กิจการ เข้าข่ายต้องจัดทำรายงานด้านสิ่งแวดล้อม";
                                                document.getElementById('labeltype').innerHTML = "รายงานผลกระทบสิ่งแวดล้อมเบื้องต้น (Initial Environmental Examination; IEE)";
                                                document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                                document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำEIA (ลำดับที่ 27) http:// www.xxxx.co.th /DATA/PDF/2562/E/003?T_0001.PDF ";

                                            }
                                        });
                                    }
                                    else {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*ไม่จัดทำ*/
                                                $(".specify").hide();
                                            /*-------------------------------------*/
                                                $("#Resulte").show();
                                                document.getElementById('label1').innerHTML = "โครงการ กิจการ หรือการดำเนินการ ไม่เข้าข่าย ที่ต้องจัดทำรายงานด้านสิ่งแวดล้อมตามกฎหมาย";
                                                $("#label2").hide();
                                                $("#labeltype").hide();
                                                $("#label3").hide();
                                                $("#labeloffer").hide();
                                                $("#label4").hide();
                                                $("#labellaw").hide();
                                            /*-------------------------------------*/
                                            }
                                        });
                                    }
                                });
                            }
                            else {
                                $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                 $("#riverarea").hide();
                                 $(".specify").hide();
                                 $("#Resulte").show();
                                 document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                 document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                 document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";
                            }
                        });
                    }
                    else if (numberofsuplots == "100to250") {
                        $("#areasize").show();
                        $("#btnareasize").click(function () {
                            var areasize = $("#selectareasize").find(":selected").val();
                            if (areasize == "less18" || areasize == "18to19" || areasize == "19to100" ) {
                                $("#protectarea3").show();
                                $("#btnprotectarea3").click(function () {
                                    var protectarea3 = $("#selectprotectarea3").find(":selected").val();
                                    if (protectarea3 == "1") {
                                         $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*IEE*/
                                                 $(".specify").hide();
                                                $("#Resulte").show();
                                                 document.getElementById('label1').innerText = "โครงการ/กิจการ เข้าข่ายต้องจัดทำรายงานด้านสิ่งแวดล้อม";
                                                document.getElementById('labeltype').innerHTML = "รายงานผลกระทบสิ่งแวดล้อมเบื้องต้น (Initial Environmental Examination; IEE)";
                                                document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                                document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำEIA (ลำดับที่ 27) http:// www.xxxx.co.th /DATA/PDF/2562/E/003?T_0001.PDF ";

                                            }
                                        });
                                    }
                                    else {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*ไม่จัดทำ*/
                                                $(".specify").hide();
                                            /*-------------------------------------*/
                                                $("#Resulte").show();
                                                document.getElementById('label1').innerHTML = "โครงการ กิจการ หรือการดำเนินการ ไม่เข้าข่าย ที่ต้องจัดทำรายงานด้านสิ่งแวดล้อมตามกฎหมาย";
                                                $("#label2").hide();
                                                $("#labeltype").hide();
                                                $("#label3").hide();
                                                $("#labeloffer").hide();
                                                $("#label4").hide();
                                                $("#labellaw").hide();
                                            /*-------------------------------------*/
                                            }
                                        });
                                    }

                                });
                            }  else {
                                 $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                 $("#riverarea").hide();
                                 $(".specify").hide();
                                 $("#Resulte").show();
                                 document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                 document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                 document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";
                            }
                        });                               
                    }
                    else if (numberofsuplots == "250to500") {
                        $("#areasize").show();
                        $("#btnareasize").click(function () {
                            var areasize = $("#selectareasize").find(":selected").val();
                            if (areasize == "less18") {
                                $("#protectarea4").show();
                                $("#btnprotectarea4").click(function () {
                                    var protectarea4 = $("#selectprotectarea4").find(":selected").val();
                                    if (protectarea4 == "1") {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*IEE*/
                                                 $(".specify").hide();
                                                $("#Resulte").show();
                                                 document.getElementById('label1').innerText = "โครงการ/กิจการ เข้าข่ายต้องจัดทำรายงานด้านสิ่งแวดล้อม";
                                                document.getElementById('labeltype').innerHTML = "รายงานผลกระทบสิ่งแวดล้อมเบื้องต้น (Initial Environmental Examination; IEE)";
                                                document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                                document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำEIA (ลำดับที่ 27) http:// www.xxxx.co.th /DATA/PDF/2562/E/003?T_0001.PDF ";
                                            }
                                        });
                                    }
                                    else {
                                        $("#riverarea").hide();
                                        $("#protectarea5").show();
                                        $("#btnprotectarea5").click(function () {
                                            var protectarea5 = $("#selectprotectarea5").find(":selected").val();
                                            if (protectarea5 == "2") {
                                                $("#riverarea").show();
                                                $("#btnriverarea").click(function () {
                                                    var riverarea = $("#selectriverarea").find(":selected").val();
                                                    if (riverarea == "1") {
                                                        /*EIA*/
                                                        $(".specify").hide();
                                                        $("#Resulte").show();
                                                        document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                                        document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                                        document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                                    } else {
                                                        /*ไม่จัดทำ*/
                                                        $(".specify").hide();
                                                        /*-------------------------------------*/
                                                        $("#Resulte").show();
                                                        document.getElementById('label1').innerHTML = "โครงการ กิจการ หรือการดำเนินการ ไม่เข้าข่าย ที่ต้องจัดทำรายงานด้านสิ่งแวดล้อมตามกฎหมาย";
                                                        $("#label2").hide();
                                                        $("#labeltype").hide();
                                                        $("#label3").hide();
                                                        $("#labeloffer").hide();
                                                        $("#label4").hide();
                                                        $("#labellaw").hide();
                                                        /*-------------------------------------*/
                                                    }
                                                });
                                            }
                                            else {
                                                /*ลุ่มน้ำ*/
                                                        $(".specify").hide();
                                                        $("#Resulte").show();
                                                        document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                                        document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                                        document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            }
                                        });
                                    }

                                });
                            }
                            else if (areasize == "18to19" || areasize == "19to100") {
                                $("#protectarea4").show();
                                $("#btnprotectarea4").click(function () {
                                    var protectarea4 = $("#selectprotectarea4").find(":selected").val();
                                    if (protectarea4 == "1") {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            $(".specify").hide();
                                            $("#Resulte").show();
                                            document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                            document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                            document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                            } else {
                                            /*IEE*/
                                                 $(".specify").hide();
                                                $("#Resulte").show();
                                                 document.getElementById('label1').innerText = "โครงการ/กิจการ เข้าข่ายต้องจัดทำรายงานด้านสิ่งแวดล้อม";
                                                document.getElementById('labeltype').innerHTML = "รายงานผลกระทบสิ่งแวดล้อมเบื้องต้น (Initial Environmental Examination; IEE)";
                                                document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                                document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำEIA (ลำดับที่ 27) http:// www.xxxx.co.th /DATA/PDF/2562/E/003?T_0001.PDF ";
                                            }
                                        });
                                    }
                                    else {
                                        $("#riverarea").hide();
                                        $("#protectarea5").show();
                                        $("#btnprotectarea5").click(function () {
                                            var protectarea5 = $("#selectprotectarea5").find(":selected").val();
                                            if (protectarea5 == "2") {
                                                $("#riverarea").show();
                                                $("#btnriverarea").click(function () {
                                                    var riverarea = $("#selectriverarea").find(":selected").val();
                                                    if (riverarea == "1") {
                                                        /*EIA*/
                                                        $(".specify").hide();
                                                        $("#Resulte").show();
                                                        document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                                        document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                                        document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

                                                    } else {
                                                       /*IEE*/
                                                     $(".specify").hide();
                                                     $("#Resulte").show();
                                                     document.getElementById('label1').innerText = "โครงการ/กิจการ เข้าข่ายต้องจัดทำรายงานด้านสิ่งแวดล้อม";
                                                     document.getElementById('labeltype').innerHTML = "รายงานผลกระทบสิ่งแวดล้อมเบื้องต้น (Initial Environmental Examination; IEE)";
                                                     document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                                     document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำEIA (ลำดับที่ 27) http:// www.xxxx.co.th /DATA/PDF/2562/E/003?T_0001.PDF ";
                                                    }
                                                });
                                            }
                                            else {
                                                /*ลุ่มน้ำ*/
                                                        $(".specify").hide();
                                                        $("#Resulte").show();
                                                        document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                                        document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                                        document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";
                                            }
                                        });
                                    }
                                });
                            }
                            else {
                                 $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                 $("#riverarea").hide();
                                 $(".specify").hide();
                                 $("#Resulte").show();
                                 document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                 document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                 document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";
                                 }
                        });
                    }
                    else if (numberofsuplots == "more500") {
                                 $("#areasize").hide();
                                 $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                $("#protectarea5").hide();
                                 $("#riverarea").hide();
                                 $(".specify").hide();
                                 $("#Resulte").show();
                             document.getElementById('labeltype').innerText = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                             document.getElementById('labeloffer').innerText = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                             document.getElementById('labellaw').innerText = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";
                    }   
                });
            }
        });
    });
</script>