
@{
    ViewBag.Title = "Calculate";
    Layout = "~/Views/Shared/_template.cshtml";
}

<div class="xxx" style="padding: 5px 0px 5px 5px; display: flex; flex-wrap:wrap;">
    <div class="header-banner">
        <img src="@Url.Content("~/Content/template/")img/link-2.svg" alt="" width="90px" height="90px">
        <div class="btx">
            <p>
                1. โครงการระบบขนส่งปิโตรเลียมและน้ำมันเชื้อเพลิงทางท่อ
            </p>

        </div>
    </div>
</div>
<div class="contain-index" style="padding: 15px 0px; background-color: #e7eef1; overflow-x: hidden;">
    <div class="row" style=" margin-right: 0px;margin-left: 0px;">
        <div class="col-lg-12 nopadding">
            <span class="ss-btn" onclick="ss_l_menu()"><i class="fas fa-chevron-right"></i></span>
            <div class="l-menu bg-gg nopadding">
                <div class="data-col">
                    <p class="ddda">
                        ระบุที่ตั้งโครงการ
                    </p>
                    <div class="pp-list">
                        <div class="list-p" onclick="sliderr(1)">
                            <p class="hh">
                                พิกัดที่ตั้ง
                            </p>
                        </div>
                        <div class="dt-slide" id="ss-1">
                            <div class="sl-input" id="sd-1">
                                <button>Add placemark</button>
                                <button>Draw line or shape</button>
                                <textarea class="txa-50" rows="5" cols="50">
                                    
                                        </textarea>
                            </div>
                        </div>
                        <div class="list-p" onclick="sliderr(2)">
                            <p class="hh">
                                กำหนดเอง
                            </p>
                        </div>
                        <div class="dt-slide" id="ss-2">
                            <div class="sl-input" id="sd-2">
                                <button>Add placemark</button>
                                <button>Draw line or shape</button>
                                <textarea class="txa-50" rows="5" cols="50">
                                        
                                        </textarea>
                            </div>
                        </div>
                        <div class="list-p" onclick="sliderr(3)">
                            <p class="hh">
                                ตำแหน่งจากข้อมูล kmz ไฟล์
                            </p>

                        </div>
                        <div class="dt-slide" id="ss-3">
                            <div class="sl-input" id="sd-3">
                                <button>Add placemark</button>
                                <button>Draw line or shape</button>
                                <textarea class="txa-50" rows="5" cols="50">
                                        
                                        </textarea>
                            </div>
                        </div>
                        <div class="list-p" onclick="sliderr(4)">
                            <p class="hh">
                                ไม่ระบุที่ตั้งโครงการ
                            </p>
                        </div>
                        <div class="dt-slide" id="ss-4">
                            <div class="sl-input" id="sd-4">
                                <button>Add placemark</button>
                                <button>Draw line or shape</button>
                                <textarea class="txa-50" rows="5" cols="50">
                                        
                                        </textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <img src="@Url.Content("~/Content/template/")img/maptest.PNG" alt="" width="100%" height="700px" style="object-fit: cover;">

            <span class="ss-r-btn" onclick="ss_r_menu()" style="background-color: #e7eef1; color: #000;"><i class="fas fa-chevron-left"></i></span>
            <div class="r-menu nopadding ">
                <div class="data-col">
                    <p class="ddda" style="margin-top: 10px;">
                        ระบุรายละเอียดโครงการ
                    </p>
                    <p>
                        ประเภทบิโตรเลียม
                    </p>
                    <select name="" id="" class="form-control" placeholder="เลือกประเภทบิโตรเลียม">
                        <option value="">ประเภทบิโตรเลียม 1</option>
                        <option value="">ประเภทบิโตรเลียม 2</option>
                        <option value="">ประเภทบิโตรเลียม 3</option>
                    </select>

                    <select name="" id="" class="form-control" placeholder="เลือกประเภทบิโตรเลียม">
                        <option value="">ประเภทบิโตรเลียม 1</option>
                        <option value="">ประเภทบิโตรเลียม 2</option>
                        <option value="">ประเภทบิโตรเลียม 3</option>
                    </select>

                    <select name="" id="" class="form-control" placeholder="เลือกประเภทบิโตรเลียม">
                        <option value="">ประเภทบิโตรเลียม 1</option>
                        <option value="">ประเภทบิโตรเลียม 2</option>
                        <option value="">ประเภทบิโตรเลียม 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function sliderr(n) {

        var dis = $('#ss-' + n).css('display');
        console.log(dis);
        if (dis == 'none') {
            $("#ss-" + n).css("display", "block");
            $("#sd-" + n).css("height", "auto");

        } else {
            $("#ss-" + n).css("display", "none");
            $("#sd-" + n).css("height", "0px");
        }

    }
    function ss_l_menu() {
        if ($(".ss-btn").hasClass("ww-100")) {
            $(".ss-btn").removeClass("ww-100");
            $(".l-menu").animate({ "left": "-400px" }, 300, "swing");
            $(".ss-btn").animate({ "left": "0px" }, 300, "swing");
            $(".ss-btn").html('<i class="fas fa-chevron-right"></i>')
        } else {
            $(".ss-btn").addClass("ww-100");
            $(".l-menu").animate({ "left": "0px" }, 300, "swing");
            $(".ss-btn").animate({ "left": "360px" }, 300, "swing");
            $(".ss-btn").html('<i class="fas fa-chevron-left"></i>')
        }

    }
    function ss_r_menu() {
        if ($(".ss-r-btn").hasClass("ww-100")) {
            $(".ss-r-btn").removeClass("ww-100");
            $(".r-menu").animate({ "right": "-400px" }, 300, "swing");
            $(".ss-r-btn").animate({ "right": "0px" }, 300, "swing");
            $(".ss-r-btn").html('<i class="fas fa-chevron-left"></i>')
        } else {
            $(".ss-r-btn").addClass("ww-100");
            $(".r-menu").animate({ "right": "0px" }, 300, "swing");
            $(".ss-r-btn").animate({ "right": "360px" }, 300, "swing");
            $(".ss-r-btn").html('<i class="fas fa-chevron-right"></i>')
        }

    }
</script>

